html,
body {
	height: 100%;
    text-align: center;
    font-family:'Times New Roman', Times, serif;    
    box-sizing: border-box;
}

body {
	
	background: linear-gradient(45deg, #9ac3c1, #9980aa);
	font-weight: 100;
    padding: 80px;
    font-family:'Times New Roman', Times, serif;
}
label{
    text-align: center;
    font-size: 30px;
    color:black
   
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
    
}
.center {
    margin-left: auto;
    margin-right: auto;
}
input[type=text],
input[type=number] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-bottom:10px;
    border-radius: 25px;
    }

button{
    text-align: center;
    padding: 10px 32px;
    border-radius: 25px;
    border: none;
    background-color:#ebe1ef;
    margin: 5px;
    color:#9980aa

}



	